In [ ]:
#DAY 11  MONDAY 2/2/26

import pandas as pd

In [ ]:
s= pd.Series([1,2,3,4,5,6])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
s1= pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])
print(s1)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
#DICTIONARY
s2= pd.Series({"maths": 90,"sci":80, "phy":80})
print(s2)

maths    90
sci      80
phy      80
dtype: int64

In [ ]:
print(s2.tail(2))
print(s2.head(2))
print(s2.sample())
print(s2.shape)
print(s2.dtype)
print(s2.size)
print(s2.values)
print(s2.index)
print(s2.info())
print(s2.ndim)

sci    80
phy    80
dtype: int64
maths    90
sci      80
dtype: int64
phy    80
dtype: int64
(3,)
int64
3
[90 80 80]
Index(['maths', 'sci', 'phy'], dtype='object')
<class 'pandas.core.series.Series'>
Index: 3 entries, maths to phy
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes
None
1

In [ ]:
#INDEXING AND SLICING
s= pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
print(s['a']) #accessing with label
print(s[0]) #accesing with index

#LOC AND ILOC FUNCTION

print(s.loc['c']) # when you  want to access with label
print(s.iloc[2]) #when you want to access with index number

#when label is not present it will throw exception

#IAT AND AT functions

print(s.at['c']) # when you  want to access with label
print(s.iat[2])  #when you want to access with index number

#DIFFERENCE BETWEEN LOC AND AT?????


#LABEL BASED SLICING

print(s[['a','c']])  #only access not slicing

print([s['a':'c']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
1
1
3
3
3
3
a    1
c    3
dtype: int64
[a    1
b    2
c    3
dtype: int64]

/tmp/ipython-input-158790869.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0]) #accesing with index

In [ ]:
# BOOLEAN ACCESS

In [ ]:
#MATHEMATICAL OPERATIONS

user= pd.Series([21,22,23,24,25],index= ['amit','sumit','raj','yash','dask'])
print(user)
print(user.sample())
print(user+1)
print(user-1)
print(user*2)
print(user/2)

amit     21
sumit    22
raj      23
yash     24
dask     25
dtype: int64
raj    23
dtype: int64
amit     22
sumit    23
raj      24
yash     25
dask     26
dtype: int64
amit     20
sumit    21
raj      22
yash     23
dask     24
dtype: int64
amit     42
sumit    44
raj      46
yash     48
dask     50
dtype: int64
amit     10.5
sumit    11.0
raj      11.5
yash     12.0
dask     12.5
dtype: float64

In [ ]:
#MATHEMATICAL OPERATION ON 2 SERIES
import pandas as pd

match1 = pd.Series([200,300,200,100,500],
                   index=["a","b","c","d","e"])

match2 = pd.Series([200,300,200,100,500],
                   index=["x","b","c","d","e"])
#add
print(match1 + match2)

result = match1.add(match2, fill_value=0)
print(result)

#sub
print(match1-match2)
result=match1.sub(match2)
print(result)


#mul
print(match1*match2)
result=match1.mul(match2)
print(result)

#div
print(match1/match2)
result=match1.div(match2)
print(result)

a       NaN
b     600.0
c     400.0
d     200.0
e    1000.0
x       NaN
dtype: float64
a     200.0
b     600.0
c     400.0
d     200.0
e    1000.0
x     200.0
dtype: float64
a    NaN
b    0.0
c    0.0
d    0.0
e    0.0
x    NaN
dtype: float64
a    NaN
b    0.0
c    0.0
d    0.0
e    0.0
x    NaN
dtype: float64
a         NaN
b     90000.0
c     40000.0
d     10000.0
e    250000.0
x         NaN
dtype: float64
a         NaN
b     90000.0
c     40000.0
d     10000.0
e    250000.0
x         NaN
dtype: float64
a    NaN
b    1.0
c    1.0
d    1.0
e    1.0
x    NaN
dtype: float64
a    NaN
b    1.0
c    1.0
d    1.0
e    1.0
x    NaN
dtype: float64

In [ ]:
# STATISTICALLY METHOD

s=pd.Series([10,20,30,40,50])
print(s)
print(s.sum())
print(s.mean())
print(s.max())
print(s.min())
print(s.median())
print(s.var())
print(s.std())
print(s.mode())
print(s.mode())

0    10
1    20
2    30
3    40
4    50
dtype: int64
150
30.0
50
10
30.0
250.0
15.811388300841896
0    10
1    20
2    30
3    40
4    50
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# BASIC DATA CLEANING METHOD

s=pd.Series([10,20,30,40,50])
print(s)
print(s.isnull())

s=pd.Series([10,20,None,40,50])
print(s.isnull())

s=pd.Series([10,20,None,40,50])
print(s.isnull().sum())  # IT WILL COUNT HOW MANY DATA ARE NULL

s=s.fillna(0)  #IF SEQUENCE SHOULD BE MAINTAINED THEN USE FILLNA FUNCTION
print(s)

d=s.dropna()  #RECORDS WITH NAN WILL BE DELETED USE DROPNA FUNCTION
print(d)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2     True
3    False
4    False
dtype: bool
1
0    10.0
1    20.0
2     0.0
3    40.0
4    50.0
dtype: float64
0    10.0
1    20.0
2     0.0
3    40.0
4    50.0
dtype: float64

In [ ]:
#SORTING

import pandas as pd

s = pd.Series([10,20,11,22,45,30,0,50])

print(s.sort_values())
print(s.sort_values(ascending=True))  #SORTING WITH VALUES
print(s.sort_index())   #SORTING WITH INDEX

6     0
0    10
2    11
1    20
3    22
5    30
4    45
7    50
dtype: int64
6     0
0    10
2    11
1    20
3    22
5    30
4    45
7    50
dtype: int64
0    10
1    20
2    11
3    22
4    45
5    30
6     0
7    50
dtype: int64

In [ ]:
#TASK 1  MONDAY 2/2/26


#1Ô∏è‚É£ Create a Series from [10, 20, 30, 40].
import pandas as pd
s1=pd.Series([10,20,30,40])
print(s1)


#2Ô∏è‚É£ Create a Series with values [5, 6, 7] and index ["a","b","c"].
s2=pd.Series([5,6,7], index=(["a","b","c"]))
print(s2)


#3Ô∏è‚É£ Create a Series from dictionary:

{"Math": 85, "Sci": 90, "Eng": 88}
s3=pd.Series({"Math": 85, "Sci": 90, "Eng": 88})
print(s3)


#4Ô∏è‚É£ Create a Series with scalar value 100 repeated for 5 indices.
s4=pd.Series(100, index=range(5))
print(s4)


#5Ô∏è‚É£ Print first 3 values of a Series.
print(s1.head(2))

#6Ô∏è‚É£ Print last 2 values.
print(s1.tail(2))


#7Ô∏è‚É£ Get the datatype of a Series.
print(s1.dtype)


#8Ô∏è‚É£ Find number of elements in Series.
print(s1.size)

#9Ô∏è‚É£ Select value using label "b".
match1 = pd.Series([200,300,200,100,500],
                   index=["a","b","c","d","e"])
print(match1["b"])

#üîü Select value using position 2.
print(match1.iloc[2])

#1Ô∏è‚É£1Ô∏è‚É£ Slice first 4 elements.
print(match1[:4])


#1Ô∏è‚É£2Ô∏è‚É£ Filter values greater than 50.
s8=pd.Series([10,20,50,60,70,80,30,100])
print(s8[s8>=50])

#1Ô∏è‚É£3Ô∏è‚É£ Replace value 20 with 200.
s11=pd.Series([11,23,12,13,14,15,20])
print(s11.replace(20,200))


#1Ô∏è‚É£4Ô∏è‚É£ Rename index "a" to "alpha".
match1=match1.rename(index={"a":"alpha"})
print(match1)


#1Ô∏è‚É£5Ô∏è‚É£ Sort a Series by values.
print(s1.sort_values())

0    10
1    20
2    30
3    40
dtype: int64
a    5
b    6
c    7
dtype: int64
Math    85
Sci     90
Eng     88
dtype: int64
0    100
1    100
2    100
3    100
4    100
dtype: int64
0    10
1    20
dtype: int64
2    30
3    40
dtype: int64
int64
4
300
200
a    200
b    300
c    200
d    100
dtype: int64
2     50
3     60
4     70
5     80
7    100
dtype: int64
0     11
1     23
2     12
3     13
4     14
5     15
6    200
dtype: int64
alpha    200
b        300
c        200
d        100
e        500
dtype: int64
0    10
1    20
2    30
3    40
dtype: int64
0    20
1    30
2    21
3    32
4    55
5    40
6    10
7    60
dtype: int64

In [ ]:
#üü° MEDIUM LEVEL (16‚Äì30)

#1Ô∏è‚É£6Ô∏è‚É£ Add 10 to every element in Series.
print(s + 10)

#1Ô∏è‚É£7Ô∏è‚É£ Multiply two Series together.
import pandas as pd
s  = pd.Series([10, 20, 30, None, 50])
s2 = pd.Series([2, 3, 4, 5, 6])
result=s.mul(s2)
print(result)

#1Ô∏è‚É£8Ô∏è‚É£ Find sum of Series.
print(s.sum())

#1Ô∏è‚É£9Ô∏è‚É£ Find mean of values.
print(s.mean())

#2Ô∏è‚É£0Ô∏è‚É£ Find median.
print(s.median())

#2Ô∏è‚É£1Ô∏è‚É£ Find standard deviation.
print(s.std())

#2Ô∏è‚É£2Ô∏è‚É£ Count non-null values.
print(s.notnull().sum())

#2Ô∏è‚É£3Ô∏è‚É£ Replace missing values with 0.
print(s.fillna(0))

#2Ô∏è‚É£4Ô∏è‚É£ Drop missing values.
s2=pd.Series([1,2,3,4,None,2])
print(s2.dropna())

#2Ô∏è‚É£5Ô∏è‚É£ Get top 3 largest values.
print(s.nlargest(3))

#2Ô∏è‚É£6Ô∏è‚É£ Get 2 smallest values.
import pandas as pd
s = pd.Series([10, 20, 30, None, 20, 50])
print(s.nsmallest(2))


#2Ô∏è‚É£7Ô∏è‚É£ Apply lambda to square each value.



#2Ô∏è‚É£8Ô∏è‚É£ Count frequency of unique values.
print(s.value_counts())

#2Ô∏è‚É£9Ô∏è‚É£ Reindex Series to include new label "z".

#3Ô∏è‚É£0Ô∏è‚É£ Calculate cumulative sum of Series.
print(s.cumsum())

0    20.0
1    30.0
2    40.0
3     NaN
4    30.0
5    60.0
dtype: float64
0     20.0
1     60.0
2    120.0
3      NaN
4    300.0
dtype: float64
110.0
27.5
25.0
17.07825127659933
4
0    10.0
1    20.0
2    30.0
3     0.0
4    50.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    4.0
5    2.0
dtype: float64
4    50.0
2    30.0
1    20.0
dtype: float64
0    10.0
1    20.0
dtype: float64
20.0    2
10.0    1
30.0    1
50.0    1
Name: count, dtype: int64
0     10.0
1     30.0
2     60.0
3      NaN
4     80.0
5    130.0
dtype: float64

In [ ]:
#DAY 12 TUESDAY 3/2/26

#DATAFRAMES
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
data ={
    "name":["x","y","z"],
    "age":[21,22,23],
    "city": ["delhi","mumbai","gujarat"]
}
df=pd.DataFrame(data)                                   #DICTIONARY
print(df)

  name  age     city
0    x   21    delhi
1    y   22   mumbai
2    z   23  gujarat

In [ ]:
df1=pd.DataFrame([[1,2],[3,4]])  #2D LIST
print(df1)

   0  1
0  1  2
1  3  4

In [ ]:
#CUSTOM COLUMNS

df1=pd.DataFrame([[1,2],[3,4]],columns=["data1","data2"])
print(df1)

   data1  data2
0      1      2
1      3      4

In [ ]:
#DAY 13 WEDNESDAY 4/2/26
import pandas as pd
df=pd.read_csv("Movieratingdata1.csv")
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [ ]:
#SOME DATAS ARE MISSING OR NAN SO WE WILL CLEAN IT WHILE READING

df=pd.read_csv("Movieratingdata1.csv",na_values=["not available","not mension"])
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0    4642044          Riot            2015.0
1       NaN        NaN            NaN              NaN
2       3.0  not value            NaN           2014.0
3       4.0    1390411            NaN           2015.0
4       5.0    6306064            NaN              NaN
5       6.0    6306064            NaN              NaN
6       7.0    2719848            NaN           2015.0
7       8.0     462504            NaN           2006.0
8       9.0        NaN            NaN           2020.0
9      10.0     163225  The Revenant            2015.0
10     11.0    1663202            NaN           2015.0
11     12.0    1663202  The Revenant            2021.0

                                               GENRES  RATING
0                                              Action     NaN
1                                                 NaN     NaN
2                                                 NaN     NaN
3                                                 NaN     5.0
4   Action|Adventure|Biography|Drama|Romance|Thriller     4.0
5   Action|Adventure|Biography|Drama|Romance|Thriller     5.0
6           Action|Adventure|Biography|Drama|Thriller     NaN
7                Action|Adventure|Biography|Drama|War     NaN
8            Action|Adventure|Biography|Drama|Western    10.0
9            Action|Adventure|Biography|Drama|Western     9.0
10           Action|Adventure|Biography|Drama|Western     9.0
11           Action|Adventure|Biography|Drama|Western     6.0

In [ ]:
#SPECIFIC COLUMNS

df=pd.read_csv("Movieratingdata1.csv",na_filter={"PRODUCTION_YEAR":"not available"})
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [ ]:
# IF WE WANT TO FIND ALL ROWS AND COLUMNS WHAT WILL BE THE CONFIGURATION IN PANDAS

df2=pd.set_option("display.max_rows",None)
df1=pd.set_option("display.max_columns",None)
print(df2)
print(df1)

None
None

In [ ]:
#DROP AND FILL PARTICULAR ROW AND COLUMN WHERE THERE IS NULL DATA
df = pd.read_csv("Movieratingdata1.csv")
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
df.dropna(inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
9      10.0   163225  The Revenant             2015
11     12.0  1663202  The Revenant             2021

                                      GENRES RATING
9   Action|Adventure|Biography|Drama|Western      9
11  Action|Adventure|Biography|Drama|Western      6

In [ ]:
#DROP PARTICULAR COLUMN

df.dropna(inplace=True ,axis=1)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
9      10.0   163225  The Revenant             2015
11     12.0  1663202  The Revenant             2021

                                      GENRES RATING
9   Action|Adventure|Biography|Drama|Western      9
11  Action|Adventure|Biography|Drama|Western      6

In [ ]:
#how (any,all)

df.dropna(inplace=True,how="any")  #WHERE ANY ONE VALUE IS NULL
print(df)

df.dropna(inplace=True,how="all")    #WHERE ALL THE VALUES ARE NULL DROP THAT ROW
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
9      10.0   163225  The Revenant             2015
11     12.0  1663202  The Revenant             2021

                                      GENRES RATING
9   Action|Adventure|Biography|Drama|Western      9
11  Action|Adventure|Biography|Drama|Western      6
    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
9      10.0   163225  The Revenant             2015
11     12.0  1663202  The Revenant             2021

                                      GENRES RATING
9   Action|Adventure|Biography|Drama|Western      9
11  Action|Adventure|Biography|Drama|Western      6

In [ ]:
#PARTICULAR COLUMN DROP

df.drop("MOVIE_TITLE",axis=1,inplace=True)
print(df)

    USER_ID MOVIE_ID PRODUCTION_YEAR  \
9      10.0   163225            2015
11     12.0  1663202            2021

                                      GENRES RATING
9   Action|Adventure|Biography|Drama|Western      9
11  Action|Adventure|Biography|Drama|Western      6

In [ ]:
#FILLNA() FUNCTION

df.fillna(value=0,inplace=True)
print(df)

    USER_ID MOVIE_ID PRODUCTION_YEAR  \
9      10.0   163225            2015
11     12.0  1663202            2021

                                      GENRES RATING
9   Action|Adventure|Biography|Drama|Western      9
11  Action|Adventure|Biography|Drama|Western      6

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("Movieratingdata1.csv")
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

#replace ---> FOR NOT AVAILABLE AND NOT MENSION
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
#df.fillna(value=0,inplace=True)

#PARTICULAR COLUMN
#df.fillna({"MOVIE_ID":0},inplace=True)
df.fillna({"MOVIE_ID":0,"PRODUCTION_YEAR":2000},inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0  4642044          Riot             2015
1       NaN        0            NaN            2000
2       3.0        0            NaN            2014
3       4.0  1390411            NaN            2015
4       5.0  6306064            NaN            2000
5       6.0  6306064            NaN            2000
6       7.0  2719848            NaN            2015
7       8.0   462504            NaN            2006
8       9.0        0            NaN            2020
9      10.0   163225  The Revenant             2015
10     11.0  1663202            NaN            2015
11     12.0  1663202  The Revenant             2021

                                               GENRES RATING
0                                              Action    NaN
1                                                 NaN    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [4]:
# TASK 04/02/2026 WEDNESDAY

#1Ô∏è‚É£ Load Dataset
#Load Movieratingdata1.csv and show all rows & columns.

import pandas as pd
import numpy as np
df=pd.read_csv("Movieratingdata1.csv")
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [7]:
#2Ô∏è‚É£ Custom Missing Values

#While loading, treat
#"not available" and "not mension" as NaN in PRODUCTION_YEAR.

import pandas as pd
import numpy as np
df=pd.read_csv("Movieratingdata1.csv", na_values=["not available","not mension"])
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0    4642044          Riot            2015.0
1       NaN        NaN            NaN              NaN
2       3.0  not value            NaN           2014.0
3       4.0    1390411            NaN           2015.0
4       5.0    6306064            NaN              NaN
5       6.0    6306064            NaN              NaN
6       7.0    2719848            NaN           2015.0
7       8.0     462504            NaN           2006.0
8       9.0        NaN            NaN           2020.0
9      10.0     163225  The Revenant            2015.0
10     11.0    1663202            NaN           2015.0
11     12.0    1663202  The Revenant            2021.0

                                               GENRES  RATING
0                                              Action     NaN
1                                                 NaN     NaN
2                                                 NaN     NaN
3                                                 NaN     5.0
4   Action|Adventure|Biography|Drama|Romance|Thriller     4.0
5   Action|Adventure|Biography|Drama|Romance|Thriller     5.0
6           Action|Adventure|Biography|Drama|Thriller     NaN
7                Action|Adventure|Biography|Drama|War     NaN
8            Action|Adventure|Biography|Drama|Western    10.0
9            Action|Adventure|Biography|Drama|Western     9.0
10           Action|Adventure|Biography|Drama|Western     9.0
11           Action|Adventure|Biography|Drama|Western     6.0

In [9]:
#3Ô∏è‚É£ Replace Text Missing Values
#Replace "not available", "not mension", "not value" in whole dataframe with np.nan.

import pandas as pd
import numpy as np
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0  4642044          Riot            2015.0
1       NaN      NaN            NaN              NaN
2       3.0      NaN            NaN           2014.0
3       4.0  1390411            NaN           2015.0
4       5.0  6306064            NaN              NaN
5       6.0  6306064            NaN              NaN
6       7.0  2719848            NaN           2015.0
7       8.0   462504            NaN           2006.0
8       9.0      NaN            NaN           2020.0
9      10.0   163225  The Revenant            2015.0
10     11.0  1663202            NaN           2015.0
11     12.0  1663202  The Revenant            2021.0

                                               GENRES  RATING
0                                              Action     NaN
1                                                 NaN     NaN
2                                                 NaN     NaN
3                                                 NaN     5.0
4   Action|Adventure|Biography|Drama|Romance|Thriller     4.0
5   Action|Adventure|Biography|Drama|Romance|Thriller     5.0
6           Action|Adventure|Biography|Drama|Thriller     NaN
7                Action|Adventure|Biography|Drama|War     NaN
8            Action|Adventure|Biography|Drama|Western    10.0
9            Action|Adventure|Biography|Drama|Western     9.0
10           Action|Adventure|Biography|Drama|Western     9.0
11           Action|Adventure|Biography|Drama|Western     6.0

In [10]:
#4Ô∏è‚É£ Count Total Missing Values
#Find total number of missing values in the dataset.

total_missing= df.isna().sum().sum()
print(total_missing)

24

In [11]:
#5Ô∏è‚É£ Column-wise Missing Count
#Show missing values count for each column.

print(df.isna().sum())

USER_ID            1
MOVIE_ID           3
MOVIE_TITLE        9
PRODUCTION_YEAR    3
GENRES             3
RATING             5
dtype: int64

In [15]:
#6Ô∏è‚É£ Drop Rows Where All Values Missing
#Remove rows where every column is NaN.
df=pd.read_csv("Movieratingdata1.csv")
print(df)
df.dropna(how='all',inplace=True)
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6
    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6